:root {
    --ash-gray: #CACFB7ff;
    --eerie-black: #1F1D1Cff;
    --eerie-black-2: #22231Fff;
    --ebony: #5D5A41ff;
    --jet: #2A2927ff;


}
@font-face {
    font-family: 'Street Lord';
    
    src: url(../imagens/Dark\ Street.otf);
}
/* CSS HEX */

body {
    background: radial-gradient(var(--ash-gray), var(--ebony));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background-image:url(../imagens/01124300826248.webp);
    background-size: cover;*/
    
    
}

h1 {
    font-family: 'Street Lord';
    text-transform: uppercase;
    font-size:large;
    color: white;
    padding: 10px;
}

h2 {
    color: var(--ash-gray);
    font-family: 'Street Lord';
}

p {
    font-style: oblique;
    color: azure;
}

img {
    border-radius: 50%;
    width: 200px;
    border: 5px solid var((--eerie-black));
}

.central {
    filter: drop-shadow(10px 10px 10px var(--eerie-black));
    width: 40%;
    background: var(--jet);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

}

hr {
    width: 70%;
    background: var(--ebony);
    height: 2px;



}